<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.topjobapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopJobApp">

        <activity android:name=".Favourte_lst_jobList"></activity>
        <activity android:name=".IT_vacancies" />


        <activity android:name=".Job_Seeker.ApplicantsRetrieve"></activity>
        <activity android:name=".Job_Seeker.Job_Seeker_Home" />
        <activity android:name=".Job_Seeker.Add_Applicant" />

        <activity android:name=".IT_vacancies"></activity>

        <activity android:name=".Business_vacancies" />
        <activity android:name=".Delete_vacancy" />
        <activity android:name=".Edit_vacancy" />
        <activity android:name=".View_jobList2" />
        <activity android:name=".JobProvider_viewJobVacancy_JS" />
        <activity android:name=".VAcancy_details" />
        <activity android:name=".View_JobList" />
        <activity android:name=".Activity_viewJobVacancy" />
        <activity android:name=".Jobprovider_addJobVacancy" />
        <activity android:name=".JobProvider_home" />

        <activity android:name=".UserManagement_Profile.Job_Provider_Profile" />
        <activity android:name=".UserManagement_Profile.Change_Password" />
        <activity android:name=".UserManagement_Profile.Edit_Job_Seeker" />
        <activity android:name=".UserManagement_Profile.Job_Seeker_Profile" />
        <activity android:name=".UserManagement_Profile.Job_Provider_Register" />
        <activity android:name=".UserManagement_Profile.Job_Seeker_Register" />
        <activity android:name=".UserManagement_Profile.provider_sign_in_up" />
        <activity android:name=".UserManagement_Profile.JobProvider_login" />
        <activity android:name=".UserManagement_Profile.JobSeeker_login" />
        <activity android:name=".UserManagement_Profile.SeekerSign_in_up" />
        <activity android:name=".UserManagement_Profile.welcome_page" />
        <activity android:name=".on_board_page3" />
        <activity android:name=".on_board_page2" />
        <activity android:name=".on_boarding_page1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>